.navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    padding: 0.25rem 0.75rem;
    border: 0.0625rem solid #32325D !important;
    border-radius: 0.25rem;
    background-color: #32325D !important;
}

.headroom--not-top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #EEEEEE !important;
    box-shadow: 0 1px 10px rgb(130 130 134 / 10%);
}

/*
.navbar-transparent .navbar-toggler {
    color: #854343;
}
*/

/*
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent;
}
*/


a:hover {
  color: #ABABAB;
}


.footer-col {
  
}


.ul-s {
  list-style: none;
}

.ts-text {
  color: #B0B0B0;
}


.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #FFFFFF;
  padding-left: 8px;
}
.footer-col .ct-links a {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.footer-col .ct-links a:hover {
  color: #24262B;
  background-color: #FFFFFF;
}
